<div class="mb-4">
  緯度：<%= @latitude %>,経度：<%= @longitude %>
</div>

<% if @places.any? %>
  <h3>マイリスト</h3>
  <table class="table">
    <thead>
      <tr>
        <th>場所</th>
        <td>緯度</td>
        <td>経度</td>
        <td>メモ</td>
        <td></td>
      </tr>
    </thead>
    <tbody id="map-list">
      <% @places.each_with_index do |place, index| %>
        <tr id="place-id-<%= index %>">
          <th class="title"><%= place[:title]%></th>
          <td class="latitude"><%= place[:latitude]%></td>
          <td class="longitude"><%= place[:longitude]%></td>
          <td class="memo"><%= place[:memo]%></td>
          <td class="delete_button"><%= link_to "削除", place, method: :delete, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h3>場所を検索する</h3>
<%= form_with(url: root_path, method: :get, local: true) do |f| %>
  <div class="form-group">
    <%= f.search_field :q, class: "form-control", value: @title %>
  </div>
  <div class="form-group">
    <%= f.submit "検索する", class: "btn btn-success" %>
  </div>
<% end %>

<h3>場所をデーターベースに追加する</h3>

<%= form_with(model: @place, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="form-group">
    <%= f.text_field :memo, class: "form-control", placeholder: "メモを残す" %>
  </div>
    <%= hidden_field_tag :title, @title %>
  <div class="form-group">
    <%= f.submit "#{@title}を登録する", class: "btn btn-success" %>
  </div>
<% end %>

<% if @latitude %>
  <div id="map" style="width: 100%; height: 500px;"></div>
  
  <script>
      const map = L.map('map').setView([<%= @latitude %>, <%= @longitude %>], 13);
      L.tileLayer(
          'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 18,
          }).addTo(map);
      L.marker(
          [<%= @latitude %>, <%= @longitude %>],
          {title: "marker-title"}
      ).addTo(map)
          .bindPopup("<%= @title %>")
          .openPopup();
  </script>
<% else %>
  <p>検索条件に該当するものがありません</p>
<% end %>
